<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <img src="../assets/alekhya.jpeg" alt="Alekhya" width="128" class="img-fluid rounded-circle">
        <h1>About Founder</h1>
        <h5 class="my-4">
          My name is Ruth Alekhya. I am an actress in the Indian film industry and known as Alekhya Angel. I never thought I would start such an inspirational organisation yet a few remarkable things have shaped me do this.
          Firstly my parents. I grew up watching them helping the destitute and the penniless, donating for their requirements, showing ways to make a living. They left a huge impact on me.</h5>
          <h5 class="my-4">
            My parents used to celebrate my birthday in orphanages, old age homes and home for differently abled. They taught me to celebrate special moments with them and they have become a part of my life since childhood. I then continued celebrating more special days like New Year and Christmas including my birthday. Seeing happiness on their faces made me complete and those are the exceptional and greatest moments in my life.
          </h5>
          <h5 class="my-4">
            I always recommend my fans and followers via social media to contribute to the neediest in any way possible. No one would go to sleep hungry if people can celebrate a part of their special days with the poor and needy.
          </h5>
          <h5 class="my-4">As I moved up in my career and in life, I want to have a meaning to my life. I came to know, helping is what brings joy and satisfaction. I started giving, sharing and contributing whenever and whatever I can. Later, I thought, I need to do even more. And the only way I can serve on a bigger scale is through a non-profit dedicated for looking at their dire needs, uplifting them of their insufficiencies. And so I moved my work in that direction realising my two hands are not enough to meet the needs of the people and then I decided to start an organisation and it has taken a shape as Humanity Helping Hands.
        </h5>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "aboutFounder"
};
</script>
