<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1>About HHH</h1>
        <h4>
          Humanity Helping Hands - HHH - was founded a few years back and started serving the target groups since them and is officially registered on 14th November 2018 under the Telangana society’s registration act 2001 bearing 1962/2018.
        </h4>
        <h4 class="mt-5">
          We are providing following service to the diserving, poor and needy in rural, tribal and urban slums through our Humanity helping Hands
        </h4>
        <div class="p-5 bg-primary text-white shadow-sm mb-4">
          <h4>Education</h4>
          <p class="mb-0">
            we are providing schooling, food, clothing, nutrition, health and medical support to orphan children.
          </p>
        </div>
        <div class="p-5 bg-primary text-white shadow-sm mb-4">
          <h4>Nutrition programme</h4>
          <p class="mb-0">
            we are providing nutrition for 1000’s of destitute, deserving, malnourished children below 10 years age group. We are providing boiled eggs, milk and fruits for them.
          </p>
        </div>
        <div class="p-5 bg-primary text-white shadow-sm mb-4">
          <h4>Medical support</h4>
          <p class="mb-0">
            we have conducted several medical camps in rural and tribal areas where we have provided medical supplies and extended our support who are suffering from lupus disease. We are providing medical aid to children and adults  who are affected with lupus (SLE) and other chronic diseases.
          </p>
        </div>
        <div class="p-5 bg-primary text-white shadow-sm mb-4">
          <h4>Feeding the poor</h4>
          <p class="mb-0">
            For orphans, beggars, homeless, sick and suffering people our agenda is No one would go to sleep hungry so we started feeding the poor and we are trying our level best to feed hunger people as many as we can.
          </p>
        </div>
        <div class="p-5 bg-primary text-white shadow-sm mb-4">
          <h4>Care and support for old age people</h4>
          <p class="mb-0">
            We are giving special medical facilities for poor and needy senior citizens and also we are providing food clothing and psychological support.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
