<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h3>Contact</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora culpa deserunt repellendus molestiae mollitia doloremque obcaecati molestias enim, pariatur quod corrupti deleniti vero impedit quo ad maxime nam porro delectus!</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "contact"
}
</script>
