<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h3>Credits</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores recusandae suscipit dolorum voluptatem nobis natus quibusdam! Eveniet officiis corrupti eum blanditiis, eligendi ea nesciunt, reiciendis est laborum, explicabo quos repellendus.</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "credits",
}
</script>
