<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h1 class="mont">{{ eventData.title }}</h1>
        <p class="text-muted mb-0" v-if="eventData.description">{{ eventData.description }}</p>
        <p class="text-muted" v-if="eventData.date">{{ eventData.date }}</p>

        <div class="row my-5">
          <div class="col">
            <div class="card-columns">
              <div class="card" v-for="n in eventData.photos" v-bind:key="n">
                <img v-bind:src="`${publicPath}img/events/${eventData.id}/${n}.${eventData.ext}`" alt="Event Image" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Events from "../components/events.json";

export default {
  name: "viewEvent",

  data() {
    return {
      eventData: '',
      publicPath: process.env.BASE_URL
    }
  },

  mounted() {
    let filteredEvent =  Events.filter(e => e.id == this.$route.params.id);

    this.eventData = filteredEvent[0];
  }
}
</script>
