<template>
  <div class="mb-3">
    <div class="container">
      <div class="row mt-3 mt-md-5" id="hero">
        <div class="col-sm-12 col-md-8 offset-md-2 text-center mt-5">

          <img src="../assets/hhh.svg" alt="" class="img-fluid" />
          <h4 class="mt-4 mb-0">A non-profit ogranization</h4>
          <h1><strong>For a cause</strong> & <strong>For a change</strong></h1>

          <div class="row bg-primary text-white p-5 rounded" style="margin-top: 4.5rem;">
            <div class="col-sm-12 col-md-6 mb-4 mb-md-0">
              <img src="../assets/alekhya.jpeg" alt="Alekhya" class="img-fluid rounded-circle">
            </div>
            <div class="col-sm-12 col-md-6 text-left">
              <p class="mb-0 mt-0 mt-md-5 text-uppercase" style="letter-spacing: 2px;">Founded by</p>
              <h1 class="mont">Alekhya Angel</h1>
              <h5 class="mb-4">Actress in South Indian film industry.</h5>
               <router-link to="/about-founder" style="color: #f2ade9">Read more about the founder</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>

    <mission></mission>

    <organization-events></organization-events>

    <div class="container mt-4">
      <div class="row py-4">
        <div class="col-sm-12 offset-md-2 col-md-8">
          <div class="text-center">
            <img src="../assets/join.svg" alt="join" width="64" height="64" />
            <h1 class="mont">Join Us</h1>
            <h4>
              Come join us and be a part of HHH to make the world a better place
              every day for everyone.
            </h4>
          </div>
          <div class="d-flex justify-content-around align-items-center my-4">
            <a href="https://www.facebook.com/TheHumanityHelpingHands" target="_blank"><img src="../assets/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/humanityhelpinghands.7/" target="_blank"><img src="../assets/instagram.png" alt="instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Mission from "@/components/Mission.vue";
import Activities from "@/components/Activities.vue";
import OrganizationEvents from "@/components/OrganizationEvents.vue";

export default {
  name: "home",
  components: {
    Mission,
    Activities,
    OrganizationEvents
  }
};
</script>
