<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <h3>Previous Events</h3>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card-columns">
          <div class="card">
            <img
              src="../assets/activities/act-1.jpg"
              class="card-img-top"
              alt=""
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-2.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-3.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-4.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-5.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-6.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-7.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-11.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-8.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-9.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-10.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-12.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-13.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-14.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-16.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
          <div class="card">
            <img
              src="../assets/activities/act-15.jpg"
              alt=""
              class="card-img-top"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
