<template>
  <div class="bg-light aleo mt-5 py-4">
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-8 mx-auto">
          <h3 class="mont text-center">
            <img src="../assets/mission.svg" alt="Mission" width="32" height="32" />
            We Stand For
          </h3>
          <hr />
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10 mx-auto">
          <img src="../assets/orphan-children.svg" width="64" height="64" />
          <h3 class="mont">Orphans</h3>
          <p>
            A new study by an international charity for orphaned and abandoned children found that India is home to 20 million orphans, a figure projected to increase by 2021. Parents who leave their children, or when a parent is alienated from their children by the other parent can cause psychological damage to the child. Abandoned children are suffering from Low self-esteem stemming from feelings of guilt about being at fault for being abandoned. They are experiencing Separation anxiety, Attachment issues, clinginess, insomnia, nightmares, eating disorders, anger issues, depression and substance abuse. I have seen with my own eyes how devastating their lives are. They are in constant struggle to get one full meal because they are helpless and homeless. They are fighting on their own for survival even though they are surrounded by millions. Together we can care for orphans until they all have homes. Someone to care and share.
          </p>
          <div class="bg-white shadow-sm p-5">
            <h4>
              Our vision for orphans.
            </h4>
            <p class="mb-0">
              We want to provide them safer environment with homely atmosphere, education, nutrition, health, medical support, food, clothing and schooling. We make them to stand on their own feet
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10 mx-auto">
          <img src="../assets/differently-abled.svg" width="64" height="64" />
          <h3 class="mont">Differently Abled People</h3>
          <p>
            Being wheelchair bound severely limits where you can go and what you can do. Homes, buses, trains, shops, schools and just about anywhere else continue to be largely inaccessible to children who cannot ascend or descend stairs. But being differently-abled doesn't just mean people in a wheelchair. It also includes everyone who is suffering from a disease that doesn't allow the person to do normal everyday things that you and I can do.
          </p>
          <div class="bg-white shadow-sm p-5">
            <h4>
              Our vision for differently abled people.
            </h4>
            <p class="mb-0">To enhance the quality of life of differently abled adults by providing skills training, Vocational support, physical well-being support, improving soft skills and promoting parental involvement. Empowerment of every differently abled adult in order to lead a fruitful life. To provide skills training and employment. To instil self-confidence and capacity building. 
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10 mx-auto">
          <img src="../assets/blind.svg" width="64" height="64" />
          <h3 class="mont">Blind People</h3>
          <p>
            People living with Blindness face challenges in virtually every aspect of their daily home, work and social lives. Adapting to doing things differently, learning to use alternative solutions for access to information, transportation and the environment are necessary in order to achieve and maintain independence. Discovering what these alternative solutions are, and advocating for access, training and support is a time-consuming part of the journey with vision loss for the individual, their family, friends and colleagues.
          </p>
          <div class="bg-white shadow-sm p-5">
            <h4>
              Our vision for blind people.
            </h4>
            <p class="mb-0">To make them capable to leave a respectable life in the society. Provide them good education and training for getting employment. Provide frequent medical check-ups and we our best to operate on people to get back their vision.</p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10 mx-auto">
          <img src="../assets/old-age-home.svg" width="64" height="64" />
          <h3 class="mont">Old People</h3>
          <p>
            Here are some of the most common problems faced by seniors: Physical and Mental Health. Health Care Costs/Nursing Home Care. Financial Security. Bereavement, Social Isolation, and Loneliness. Elder Abuse. They cannot even work because of physical inabilities. I visited old age homes many times and I observed that the main thing they miss the most-happiness. Remember, they are old people, so they’re experienced people and faced all challenges and struggles, you can imagine. They struggled for their kids to settle them down and when they settled down, such kids treated them in such rude way.
          </p>
          <div class="bg-white shadow-sm p-5">
            <h4>
              Our vision for old people.
            </h4>
            <p class="mb-0">Old age homes have special medical facilities for senior citizens such as mobile health care systems, ambulances, nurses and provision of well-balanced meals. Warm and homely environment supervised by trained staff and mentors.</p>
          </div>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-10 mx-auto">
          <img src="../assets/traffiking.svg" width="64" height="64" />
          <h3 class="mont">Aganist Human Trafficking</h3>
          <p>The use of coercion by perpetrators and traffickers involves the use of extreme control. Perpetrators expose the victim to high amounts of psychological stress induced by threats, fear, and physical and emotional violence. Tactics of coercion are reportedly used in three phases of trafficking: recruitment, initiation, and indoctrination. Complex trauma involves multifaceted conditions of depression, anxiety, self-hatred, dissociation, substance abuse, self-destructive behaviors, medical and somatic concerns, despair, and revictimization.
          </p>
          <div class="bg-white shadow-sm p-5">
            <h4>
              Our vision to fight human trafficking.
            </h4>
            <p class="mb-0">Learn the indicators of human trafficking so you can help identify a potential trafficking victim. Human trafficking awareness training is available for individuals, businesses, first responders, law enforcement, educators, and federal employees, among others. Offer human trafficking victims legal services, including support for those seeking benefits or special immigration status. Resources are available for attorneys representing victims of human trafficking.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
