<template>
  <div class="bg-secondary py-4 text-white">
    <div class="container">
      <div class="row my-4" v-if="organizationEvents[0]">
        <div class="col-sm-12 col-md-8 offset-md-2">
          <h3 class="mont mt-4">Events</h3>
          <div class="card mt-3 mb-5 shadow border-secondary" v-for="eve in organizationEvents[0]" v-bind:key="eve.id">
            <img v-bind:src="`${publicPath}img/events/${eve.id}/hero-image.jpg`" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title mb-0"><a v-bind:href="`/events/${eve.id}`">{{ eve.title }}</a></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row" v-else>
        <div class="col-sm-12 col-md-8 offset-md-2">
          <h3 class="mont">Events</h3>
          <p class="text-muted">There are no events currently.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Events from './events.json'

export default {
  data() {
    return {
       organizationEvents: [],
       publicPath: process.env.BASE_URL
    }
  },

  mounted() {
    this.organizationEvents.push(Events); 
  }
}
</script>
