<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm bg-secondary mb-3">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#hhhNavbar"
        aria-controls="hhhNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="hhhNavbar"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/about" class="nav-link">H H H</router-link>
          </li>
        </ul>
      </div>
    </nav>

    <router-view />
  </div>
</template>

<style lang="scss">
@import "./scss/custom-bootstrap";

html,
body {
  font-family: "Aleo", serif;
}

.mont {
  font-family: "Montserrat", sans-serif;
}
</style>
